body
{
    background-color: rgb(236, 241, 245);
}
img
{
    height: 250px;
}
hr
{
    border-color: #d3d03f;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    height: 0px;
    width: 8%;
}
h1
{
    color: #d3d03f;
}
h3
{
    color: #d3d03f;
    margin-bottom: 0.5em;
    margin-left: 2%;
    margin-right: 2%;
}
ul
{
    margin-bottom: 0.5em;
    margin-left: 2%;
    margin-right: 2%;
}
ol
{
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}
table
{
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}
a
{
    margin-bottom: 0.5em;
    margin-left: 2%;
    margin-right: 2%;
}
div
{
    background-color:  rgb(236, 241, 245);
    /*text-align: center;*/
}
/**********************************************Class Selectors**********************************************/
.top-container
{
    background-color: rgb(236, 241, 245);
    border: 5px;
    text-align: center;
    /*
    background-color: aquamarine;
    border: solid 10px;
    border-color: black;
    padding: 20px;
    margin-right: 70%;
    */
}
.mid-container
{
    background-color: rgb(236, 241, 245);
    border: 4px;
    text-align: center;
    /*
    background-color: aquamarine;
    border: solid 20px;
    border-color: black;
    margin-left: 30%;
    margin-right: 30%;
    */
}
.bot-container
{
    background-color: rgb(236, 241, 245);
    border: 4px;
    text-align: center;
    /*
     background-color: aquamarine;
    border: solid 10px;
    border-color: black;
    margin-left: 70%;
    */
}
/**********************************************ID Selectors**********************************************/
#erkin
{
    /*
    background-color: #d3d03f;
    */
    height: 200px;
}
#erkin:hover
{
    height: 210px;
}